
.container {
  display:flex;
  min-height:100vh;
  flex-wrap:nowrap;
  flex-direction: column;
}

.container-main {
  display:flex;
  flex-direction: row;
  justify-content: space-around;

}


.box.sidebar {
  flex-basis: 30%;
}

.box.main {
  padding: 0.5%;
  flex-basis: 68%;
}
